.Row {
    display: block;
    background-color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: blue;
    margin: auto;
    box-shadow: 5px;
    outline: 5px black;
}